

/* Navbar */
.navbar {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}url(http://127.0.0.1:3000/IYA%20website/icon/homepage.png)
.nav2icon {
  display: flex;
  align-items: center; 
}
.icon {
  width: 18px; 
  height: 18px;
  vertical-align: middle;
  margin-top: 6px;
}
.iya {
  width: auto;  
  height: 30px;
  vertical-align: middle;
}
/* remove bullets + reset */
nav2icon ul {
  display: flex;
  gap: 1rem;             /* spacing between icons */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* images inside */
nav2icon img {
  height: 20px;          /* adjust to match text size */
  width: auto;
  display: block;
}
.navbar .logo img{
  height:40px;
  display: block;
}
.navbar .iya img{
  height:80px;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  opacity: 1;
  transition: color 0.3s, opacity 0.3s;

}
.navbar .nav-links:hover li a {
  opacity: 0.3;
}

.navbar .nav-links li a:hover {
  opacity: 1;   
  color: #fff;  
}
/* .nav-links li a:hover {
    opacity: 1;
}
.nav-links li a:not(:hover){
    opacity: 0.5;
} */

/* Hero section */
.hero {
  position: relative;
  width: 100%;
  max-height: 500px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}


/* Content section */
.content {
  padding: 40px;
}
