:root{
  --bodyfont:"Roboto Mono", monospace;
  --bodytext-color:#797979;
  --importanttext-color:#242424;


}

.back-button {
  position: absolute;
  top: 20px;      
  left: 50%;        
  transform: translateX(-50%);
  width: 200px; 
  height: 60px;     
  cursor: pointer;
  background: rgba(255, 0, 0, 0); /* 完全透明 */
}

body {
  margin: 0;
  padding: 40px 0 0 0;
  font-family: "Roboto Mono", monospace;
  background: rgb(255, 255, 255); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.passport {
  position: relative;
  width: 698.25px;
  height: 1024.25px;
  background: url("bg.png") no-repeat center/cover;
  border-radius: 40px;
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.25); */
  overflow: hidden;
}
.label {
  text-transform: uppercase;
  color:var(--bodytext-color);
  font-size:  12px;
  letter-spacing: 1px;
}
.value{
  color:var(--importanttext-color)
}
.hover {
  position: relative;
  display:inline-block;
  /* text-decoration: none;  */
  z-index: 1;
  color: var(--importanttext-color);
}

.hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 20px;                        
  width: 0;                           
  background-color: rgba(183, 102, 215, 0.4);
  transition: width 0.2s ease;   
  z-index: -1;      
}

/* hover 时展开成 100% */
.hover:hover::after {
  width: 100%;
}

/* "**" */
.symbols {
  position: absolute;
  top: 450px;      
  left: 60px;
  font-size: 14px;
  font-weight: 600;
  color: #797979;
  letter-spacing: 2px;
}

/* VISUALDESIGNER<<XUEFENG<<< */
.visual-id {
  position: absolute;
  top: 470px;     
  left: 60px;
  font-size: 14px;
  color: #797979;
  letter-spacing: 2px;
}
/* basic info */
.info {
  position: absolute;
  top: 200px;   /* 往下放 */
  left: 380px;
  font-size: 14px;
  line-height: 1.4;
  color: #666666;
  width: 260px; /* 保证和右侧插画区隔开 */
}
.info p {
  margin: 8px 0;        
}

.info strong {
  font-weight: 400;
}

.info ul {
  margin: 8px 0 8px;
  padding: 0;
  list-style: none;
}
.info li {
  margin: 8px 0;
}

/* contact */
.contact {
  position: absolute;
  top: 650px;
  left: 60px;
  font-size: 14px;
  line-height: 1.6;
  color: #111;
}

/* illustration */
.profile-pic {
  position: absolute;
  top: 210px;
  left: 60px;
  height: 200px;
  width: auto;
}

.secondpage {
  position: absolute;
  bottom: 400px;
  left: 60px;
  font-size: 14px;
  color: var(--bodytext-color);
  text-transform: uppercase;
  letter-spacing: 2px;

}

.site-footer {
  background-color: #ffffff; 
  text-align: center;        
  padding: 20px 0;           
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  color: #000000; 
  width: 100%;
  margin-top: 20px; 
  margin-bottom:20px;
}
/* ----uiuxpage------ */
.uiux-page {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff; 
}

/* info on the left */
.uiux-page .sidebar {
  width: 220px;
  color: #000;
  position: relative;
  z-index: 10;
  margin:0;
  padding:0;

}
/* whole container */
.uiux-page .container {
  display: flex;
  justify-content: flex-start;
  margin:0;
  padding:0;
}
/*DesignerVisa*/

.uiux-page .sidebar h2 {
  font-size: 18px;
  margin: 0;
  padding:0;

}
.uiux-page .sidebar hr {
  border: none;
  border-top: 1px dashed #000;
  
}
.uiux-page .sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.uiux-page .sidebar li {
  margin: 8px 0;
}

/* right project */
.uiux-page .projects {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 70%;

}
.uiux-page .projects img {
  max-width: 600px;  /* each image */
  width: 100%;      
  display:block;
  height: auto;     
  border-radius: 8px;

}
        

